body,h1, h2, h3, .btn, .form-control, .nav, .navbar, .navbar-text {
    font-family: 'Inter', sans-serif !important;
    color: black !important;
    font-weight: 350;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

.page-content {
    padding-bottom: 40px;
}

/* Override Bootstrap's contextual text colors */
.text-muted,
.text-primary,
.text-secondary,
.text-success,
.text-danger,
.text-warning,
.text-info,
.text-light,
.text-dark {
    color: #000 !important;
}

a {
    color: #000 !important;
}

.form-check-input:checked {
    background-color: #6c757d; /* Bootstrap grey */
    border-color: #6c757d;
}